Architecture: powerpc
Depends: libcurl3-gnutls (>= 4.4.0), libgcrypt20 (>= 1.6.3), libgpg-error0 (>= 0.17.0), libgeoip1 (>= 1.6.2), libpq5 (>= 5.8), libqt4-network (>= 4.8.6), libqt4-sql (>= 4.8.6), libqt4-sql-psql (>= 4.8.6), libqt4-sql-sqlite (>= 4.8.6), libqtcore4 (>= 4.8.6), libqtgui4 (>= 4.8.6), libssl1.0.0 (>= 1.0.1)
Maintainer: textbrowser@gmail.com
Package: Spot-On
Priority: optional
Section: Science
Version: 2019.05.05
Description: Spot-On
 Welcome to Spot-On on PowerPC!
 A spot-on.desktop file will also be installed in /usr/share/applications/.
