Architecture: amd64
Depends: libcurl3-gnutls (>= 4.4.0), libgcrypt20 (>= 1.6.5), libgpg-error0 (>= 0.17.0), libgeoip1 (>= 1.6.9), libpq5 (>= 5.8), libssl1.0.0 (>= 1.0.2)
Installed-Size: 186000
Maintainer: None
Package: GoldBug
Priority: optional
Section: Internet
Version: 2018.01.01
Description: GoldBug
 Welcome to GoldBug!
 A goldbug.desktop file will also be installed in /usr/share/applications/.
