Architecture: amd64
Depends: libcurl3-gnutls (>= 4.5.0), libgcrypt20 (>= 1.8.3), libgpg-error0 (>= 0.24.3), libgeoip1 (>= 1.6.12), libpq5 (>= 5.10), libqt5bluetooth5 (>= 5.11.1), libqt5concurrent5 (>= 5.11.1), libqt5core5a (>= 5.11.1), libqt5dbus5 (>= 5.11.1), libqt5gui5 (>= 5.11.1), libqt5multimedia5 (>= 5.11.1), libqt5multimedia5-plugins (>= 5.11.1), libqt5multimediawidgets5 (>= 5.11.1), libqt5network5 (>= 5.11.1), libqt5opengl5 (>= 5.11.1), libqt5printsupport5 (>= 5.11.1), libqt5sql5 (>= 5.11.1), libqt5sql5-psql (>= 5.11.1), libqt5sql5-sqlite (>= 5.11.1), libqt5svg5 (>= 5.11.1), libqt5widgets5 (>= 5.11.1), libssl1.1 (>= 1.1.1)
Maintainer: textbrowser@gmail.com
Package: GoldBug
Priority: optional
Section: Science
Version: 2020.01.01
Description: GoldBug
 Welcome to GoldBug!
 A goldbug.desktop file will also be installed in /usr/share/applications/.
