Architecture: arm64
Depends: libQt6Core (>= 6.0),
	 libQt6Gui (>= 6.0),
	 libQt6Multimedia (>= 6.0),
	 libQt6Network (>= 6.0),
	 libQt6PrintSupport (>= 6.0),
	 libQt6Sql (>= 6.0),
	 libQt6WebSockets (>= 6.0),
	 libQt6Widgets (>= 6.0),
	 libcrypto (>= 3.0.0),
	 libcurl-gnutls (>= 4.5.0),
	 libcurl4-gnutls (>= 4.5.0),
	 libgcrypt20 (>= 1.10.0),
	 libgeoip1 (>= 1.6.10),
	 libgpg-error0 (>= 1.45.0),
	 libgpgme11 (>= 1.15.0),
	 libpq5 (>= 15.0),
	 libssl (>= 3.0.0),
	 libssl3 (>= 3.0.0)
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Spot-On
Priority: optional
Section: Science
Version: 2023.12.15
Description: Spot-On
 Welcome to Spot-On on ARM-64!
 A spot-on.desktop file will also be installed in /usr/share/applications/.
