Architecture: arm64
Depends: libcurl3-gnutls (>= 4.5.0),
	 libgcrypt20 (>= 1.10.0),
	 libgeoip1 (>= 1.6.10),
	 libgpg-error0 (>= 1.45.0),
	 libgpgme11 (>= 1.15.0),
	 libpq5 (>= 15.0),
	 libqt6core (>= 6.0),
	 libqt6gui (>= 6.0),
	 libqt6multimedia (>= 6.0),
	 libqt6network (>= 6.0),
	 libqt6printsupport (>= 6.0),
	 libqt6sql (>= 6.0),
	 libqt6websockets (>= 6.0),
	 libqt6widgets (>= 6.0),
	 libssl3 (>= 3.0.0)
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Spot-On
Priority: optional
Section: Science
Version: 2023.12.15
Description: Spot-On
 Welcome to Spot-On on ARM-64!
 A spot-on.desktop file will also be installed in /usr/share/applications/.
