Architecture: amd64
Depends: libcurl3t64-gnutls,
	 libgcrypt20,
	 libgpg-error0,
	 libgpgme11t64,
	 libntl44,
	 libpq5,
	 libqt6core6t64,
	 libqt6gui6t64,
	 libqt6multimedia6,
	 libqt6network6t64,
	 libqt6printsupport6t64,
	 libqt6sql6t64,
	 libqt6webenginecore6,
	 libqt6webenginewidgets6,
	 libqt6widgets6t64,
	 libssl3t64
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Spot-On
Priority: optional
Section: Science
Version: 2025.12.25
Description: Spot-On
 Welcome to Spot-On!
 A spot-on.desktop file will also be installed in /usr/share/applications/.
