Architecture: amd64
Depends: libcurl4-gnutls-dev,
	 libgcrypt20,
	 libgeoip1,
	 libgmp10,
	 libgpg-error0,
	 libgpgme11,
	 libntl44,
	 libpq5,
	 libqt6bluetooth6,
	 libqt6concurrent6,
	 libqt6dbus6,
	 libqt6gui6,
	 libqt6multimedia6,
	 libqt6multimediawidgets6,
	 libqt6network6,
	 libqt6opengl6,
	 libqt6printsupport6,
	 libqt6qml6,
	 libqt6sql6,
	 libqt6sql6-psql,
	 libqt6sql6-sqlite,
	 libqt6svg6,
         libqt6webenginecore6,
	 libqt6webenginewidgets6,
	 libqt6websockets6,
	 libqt6widgets6,
	 libssl3
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Spot-On
Priority: optional
Section: Science
Version: 2025.12.25
Description: Spot-On
 Welcome to Spot-On!
 A spot-on.desktop file will also be installed in /usr/share/applications/.
