Architecture: amd64
Depends: libcurl4-gnutls-dev,
	 libgcrypt20,
	 libgeoip1,
	 libgmp10,
	 libgpg-error0,
	 libgpgme11,
	 libntl44,
	 libpq5,
	 libqt5bluetooth5,
	 libqt5concurrent5,
	 libqt5core5a,
	 libqt5dbus5,
	 libqt5gui5,
	 libqt5multimedia5,
	 libqt5multimedia5-plugins,
	 libqt5multimediawidgets5,
	 libqt5network5,
	 libqt5opengl5,
	 libqt5printsupport5,
	 libqt5qml5,
	 libqt5sql5,
	 libqt5sql5-psql,
	 libqt5sql5-sqlite,
	 libqt5svg5,
         libqt5webenginecore5,
	 libqt5webenginewidgets5,
	 libqt5websockets5,
	 libqt5widgets5,
	 libssl3
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Spot-On
Priority: optional
Section: Science
Version: 2025.11.28
Description: Spot-On
 Welcome to Spot-On!
 A spot-on.desktop file will also be installed in /usr/share/applications/.
