# https://specifications.freedesktop.org/desktop-entry-spec/latest/apa.html

[Desktop Entry]
Categories=Net
Comment=Spot-On
Exec=/usr/local/spot-on-qt4/spot-on.sh
GenericName=Spot-On
Icon=/usr/local/spot-on-qt4/spot-on-logo.png
Name=Spot-On
StartupNotify=true
Terminal=false
Type=Application
