# https://specifications.freedesktop.org/desktop-entry-spec/latest/apa.html

[Desktop Entry]
Categories=Web
Comment=Spot-On
Exec=/usr/local/spot-on/spot-on.qt5.sh
GenericName=Spot-On
Icon=/usr/local/spot-on/spot-on-logo.png
Name=Spot-On
StartupNotify=true
Terminal=false
Type=Application
