Architecture: amd64
Depends: libcurl3-gnutls (>= 4.4.0), libgcrypt20 (>= 1.6.5), libgpg-error0 (>= 0.17.0), libgeoip1 (>= 1.6.9), libpq5 (>= 5.8), libssl1.0.0 (>= 1.0.2)
Installed-Size: 192308
Maintainer: textbrowser@gmail.com
Package: Spot-On
Priority: optional
Section: Internet
Version: 2018.02.30
Description: Spot-On
 Welcome to Spot-On!
 A spot-on.desktop file will also be installed in /usr/share/applications/.
