# https://specifications.freedesktop.org/desktop-entry-spec/latest/apa.html

[Desktop Entry]
Categories=Net
Comment=GoldBug
Exec=/usr/local/goldbug/goldbug.sh
GenericName=GoldBug
Icon=/usr/local/goldbug/goldbug.png
Name=GoldBug
StartupNotify=true
Terminal=false
Type=Application
